<h2>How it works</h2>

Real Good Food (RGF) is a platform for coordinating online food swaps, planning in-person food events, and cultivating “sharing economies” based around the delicious, sustainable food in your community. If you’re a pro at making homemade salsas, love baking bread, have a bumper crop of squash from your garden, or just hate to be the only person eating the whole pot of soup you made, use RGF to post your bounty. 

<p>Swap that extra soup for your neighbor’s muffins, or the promise of a home cooked dinner to be delivered later on! If you don’t have anything to trade right now, but are in the mood to try something new, search the listings for something that catches your eye and connect with the cook to see if you can return the favor when you do have something to give away.

<p>Once you settle on a trade, you and your trading partner can decide where to meet or drop the food off (at your house? the farmers’ market? a cafe you both drive by on the way home?).  Then all that’s left to do is enjoy your Real Good Food!

<p>As our site continues to develop, you’ll be able to form groups with the people you most want to trade with, be they immediate neighbors, or everyone in your area with a certain dietary interest (think Durham vegans, Ann Arbor gluten-free folks, or Indian food aficionados in your town).

<p>In addition to connecting online, use RGF to grow your offline community.  Get plugged into events coming up on the community calendar or plan new ones. Attend and organize potlucks, food swaps, cook-offs, workshops, food drives or anything else you’re craving.

<p>In short, cook good food, eat good food and share. Always eat awesome.

<p>Get started by looking at the <%= link_to "food listings", listings_path %> or <%= link_to "event listings", events_path %>. 

<p><%= link_to "Log in", new_user_session_path %> to add your own listings and trade!
