<h2>Privacy Policy</h2>

We at RGF take your privacy very seriously. Personal information can be anything that can be used to identify an individual, not limited to but including; name, address, date of birth, contact information will not be shared with anyone and it is kept confidential.
