<h2>Team</h2>

<br>
Real Good Food (RGF) team members. 

<br>
Devin McIntire started his first food-related venture 10 years ago and has been passionate about changing our access to good food ever since. With inspiration from the beautiful smells wafting from his apartment neighbors’ doors, Devin realized that no matter how well he cooked, he could never make the diversity of food he enjoyed nor could he cook as often as his neighborhood combined.

<br><br>Starting in 2011 with a simple email group Devin launched Real Good Food. As word-of-mouth helped the email list grow to 130 people and all sorts of exciting food was traded Devin realized it was time to take this vision to the next level.

<br><br>Raffi Garabedian is a Master of Public Policy graduate and is interested in helping build communities through food sharing. Raffi is specifically interested in helping people eat better, save more, and waste less. As Real Good Food’s Director of Community Outreach Raffi enjoys communicating Real Good Food’s message with a variety of individuals and organizations.

<br><br>Michelle Lu is a sophomore at the University of Michigan with an interest in engineering and an even greater interest in food. Most of her life she’s only gotten to eat and make it, but now she’s working on a pivotal food exchange platform that she believes will change the faces of community and the way people obtain their food. In her free time she likes to make music, read, and write riveting blog posts.

<br><br>Outgoing food fanatic Madhavi Rao knows the best way to bring people together is around a table of delicious, healthy, home-cooked food! As the team’s Director of Strategy and Product Development, Madhavi blends her exceptional analytical and project management skills, honed in both the corporate and nonprofit sectors, and her innovative approach to designing intuitive solutions that are simple and fun to use. A strong advocate of healthy eating and lifestyle choices and strengthening community ties, Madhavi is thrilled to support this movement toward a conscientious, sustainable, community-driven approach to enjoyable food.

<br><br>Justine Williams is a cultural anthropologist studying food systems with a background in food policy and advocacy. She has been working with Devin to develop Real Good Food in concept, ensure that it will help build healthy local food communities, and launch a second pilot group in Durham, North Carolina.



