<h2>Terms and Conditions</h2>

<br>

<h3>Disclaimer/Terms of Use</h3>


Access and use of www.RealGoodFood.org (“RGF”) constitutes immediate acceptance and agreement to this Disclaimer in full, and agreement to be bound by the terms of this Disclaimer as a “User”.  If you do not accept and agree to the Disclaimer in whole or in part you may terminate all access and use of RGF, and continued access or use of RGF is prohibited and unauthorized.


<hr>

<h3>Health & Safety</h3>
<ol>
<li>Users certify to the best of their knowledge and belief that all information they provide in a transaction or to other users is true, current and correct, and acknowledge that failure to fully and accurately report information may result in termination of access and use of RGF, and in criminal or civil penalties.</li>
<li> RGF is an online logistical support platform for the coordination of food trades.  RGF is not in any way connected to or responsible for items traded on the site, and at no point in a trade sees, handles or attests to a traded food’s ingredients, quality or preparation.</li>
<li>RGF does not certify that food traded on its platform meets any health or safety standards and is not liable for any user’s failure to comply with applicable health or safety standards.</li>
<li>Users must exercise their best judgment and discretion when deciding what to trade and consume.</li>
<li>If you are uncomfortable with what you receive in a trade you are free to cancel the trade and or not eat what you obtain.  </li>
</ol>

<hr>

<h3>Content</h3>

<ol>
<li> RGF is not responsible for user-generated content.</li>
<li>Users are wholly responsible for any content posted or transmitted through their accounts.</li>
</ol>

<hr>
<h3>Tax Liability</h3>
Items bartered using RGF may be subject to state and federal taxes.  Users agree to abide by all federal and state tax laws and are wholly responsible for any state or federal taxes incurred by use of RGF.

