.footer {
	margin:0;
	padding:10px;
	left:0;
	right:0;
	width:100%;	
	background-color:#fafafa;
	bottom:0;
}

.fixed-btn {
	margin-bottom:10px;
}

.top_btn_underline {
	padding-right:10px;
	font-size:12px;
	color:#929292;
}
