<h1>New location</h1>
<br>This location is the primary location at which you would like to trade food. It will not be directly shared with anyone but used to display a general location on a map. You are in charge of coordinating your food swaps at any location both swappers agree upon.

<br>
<%= render 'form' %>

<%= link_to 'Back', locations_path %>
