<div class="row footer" style="margin-top:100px;">
	<div class="span3">	

	    <h3>Join Our Mailing List</h3>   
		<!-- Begin MailChimp Signup Form -->		
		<div id="mc_embed_signup">
		<form action="http://realgoodfood.us4.list-manage.com/subscribe/post?u=2d63e728661a8327567030229&amp;id=48f9c5b9dd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
			<!-- <label for="mce-EMAIL"></label> -->
			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
			<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		<input type="hidden" id="selected_location" value="">
		</form>
		</div>
		<!--End mc_embed_signup-->
	</div>


	<div class="span3">
		<h3>About RGF</h3>
		<ul>
		    <li><%= link_to "How It Works", how_it_works_path %></li>
		    <li><%= link_to "Team", team_path %></li>
		    <li><%= link_to "Privacy Policy", privacy_policy_path %></li>
		    <li><%= link_to "Terms and Conditions", terms_and_conditions_path %></li>
		</ul>
	</div>
	</div>
</div>
